@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Mono:400,700&display=swap");

/* variables */
:root {
  --pink: #f2c8c9;
  --red: #ff5959;
  --orange: #f8a978;
  --peach: #ffc5a1;
  --blue: #60a8b7; /* #97c2cb; */
  --white: #efefef;

  --serif: "Roboto Condensed", sans-serif;
  --sans: "Roboto Mono", "Courier", monospace;
}

* {
  box-sizing: content-box;
}

/* basic elements */
html {
  margin: 0;
  padding: 0;
  cursor: crosshair;
}
body {
  font-family: var(--sans);
  font-size: 16px;
  background: var(--white);
  color: var(--red);
  margin: 0;
  padding: 3em;
}
p {
  margin-top: 0;
}
p:last-child{
    margin-bottom: 6em;
}
h3 {
  font-family: var(--serif);
  letter-spacing: .1rem;
}
a {
  text-decoration: none;
  border-bottom: 1px dotted var(--blue);
  font-weight: bold;
  color: var(--blue);
}
a:visited {
}
a:hover,
a:focus,
a:active {
}
abbr {
}

/* specific divs */
.page-wrapper {
  display: flex;
  padding-top: 10rem;
  animation: 1s ease fadeIn;
  margin: 0 auto;
  max-width: 80em;
  padding-left: 8em;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;

  background-image:url('https://previews.123rf.com/images/mialima/mialima1612/mialima161200012/69075332-seamless-monochrome-polka-dot-pattern-dotted-background.jpg');
  height:100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 2px;

}
.intro, .main {
  position: relative;
  height:100vh;
}

.intro::after {
  content: "";
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  transform: translateZ(-1px) scale(1.5);
  background-size: 100%;
  z-index: -1;
}


.intro:before{
    content:url(kanji.png);
    position:relative;
}
.intro {
  width: 100%;
  margin-bottom: 10rem;
  font-size:1.5em;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

header h1 {
  margin-left: -6em;
  margin-top: -5em;
  font-family: var(--sans);
  text-transform: uppercase;
  display: block;
  color: var(--red);
  width: 2.4em;
  background: var(--white);
  word-wrap: break-word;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.3rem;
  border: 3px solid var(--red);
  padding: 0.75rem 0.8rem 0.75rem 1rem;
  position: fixed;
  transition: color 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
  -webkit-box-shadow: 10px 10px 0px 0px var(--red);
  -moz-box-shadow: 10px 10px 0px 0px var(--red);
  box-shadow: 10px 10px 0px 0px var(--red);
}
header h1:hover {
  background-image: url(kanji.png);
  color: rgba(0,0,0,0);
  box-shadow: none;
  background-size: contain;
}

header h2 {
}
header {
}

.summary {
}
.summary p {
}

.preamble {
}
.supporting {
  flex: 1;
}

footer {
}
footer a:link,
footer a:visited {
}

.sidebar {
    background: var(--white);
  padding: 1.5rem 2.5rem;
  -webkit-box-shadow: 10px 10px 0px 0px var(--red);
  -moz-box-shadow: 10px 10px 0px 0px var(--red);
  box-shadow: 10px 10px 0px 0px var(--red);

  border: 3px solid var(--red);
}
.sidebar .wrapper {
}
.sidebar h3.select {
}
.sidebar h3.archives {
}
.sidebar h3.resources {
}

.sidebar ul {
  list-style-type: katakana;
}
.sidebar li {
}
.sidebar li a:link {
}
.sidebar li a:visited {
}

.extra1 {
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: var(--white);
}
::-webkit-scrollbar-thumb {
  background: var(--red);
}
